<div class="flex items-center text-base">
  <app-button
    [extraClass]="'bg-gray-900 text-gray-200 font-semibold px-3 py-1'"
    (btnClicked)="cartService.decreaseQuantity(item().id)"
    label="-"
  />

  <span class="w-10 text-center text-gray-800 outline-none border-l border-r border-gray-300">
    {{ item().quantity }}
  </span>

  <app-button
    [extraClass]="'bg-gray-900 text-gray-200 font-semibold px-2.5 py-1'"
    (btnClicked)="cartService.increaseQuantity(item().id)"
    label="+"
  />
</div>