<div class="p-4">
  <div class="flex gap-2">
    <button routerLink="/" class="cursor-pointer bg-black text-white px-2 text-center items-center flex gap-2 rounded-lg h-8 hover:bg-gray-700" (click)="goback()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:rotate-180">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
      </svg>
      <span>Volver</span>
    </button>
    <h2 class="text-xl font-bold mb-4">Mi carrito de compras</h2>
  </div>
  @if (!cartService.cartitems().length){
    <div class="w-full h-[40rem] flex justify-center items-center bg-white text-2xl text-gray-600 gap-5">
      <app-iconcart [extraClass]="'size-20'" />
      <p>Tu carro esta vacio</p>
    </div>
  } @else {
    <div class="flex gap-2">
      <div class="w-9/12 bg-white rounded-lg p-5 max-h-max">
        @for (item of cartService.cartitems(); track item.id; let last = $last) {
          <app-cart-item [item]="item" [last]="last" />
        } 
      </div>
      <div class="w-1/4 bg-white rounded-lg p-5 text-base font-semibold">
        <p class="text-xl text-center">Resumen de orden</p> 
        <div class="py-4 flex justify-between border-b border-gray-300">
          <p>Productos ({{ cartService.countQuantityProduct()}})</p>
          <p [countUp]="cartService.getTotalCart()" [options]="countUpOptions" class="pointer-events-none">0</p>
        </div>
        @if(cartService.countQuantityProductWithoutDiscount() > 0){
          <div class="py-4 flex justify-between border-b border-gray-300">
            <p>Descuentos ({{ cartService.countQuantityProductWithoutDiscount() }})</p>
            <p [countUp]="cartService.getTotalCartWithDiscount() - cartService.getTotalCart()" [options]="countUpOptions" class="pointer-events-none">0</p>
          </div>
        }
        <div class="py-4 flex justify-between">
          <p>Total:</p>
          <p [countUp]="cartService.getTotalCartWithDiscount()" [options]="countUpOptions" class="pointer-events-none">0</p>
        </div>
        <app-primary-button 
          [extraClass]="'from-gray-800 via-gray-600 to-gray-800 focus:ring-gray-700'"
          label="Continuar comprando"
          (btnClick)="cartService.continuePurchase()" />
      </div>
    </div>
  }
</div>